<div id="rectangle_mid_signin">
    <div id="rectangle_form_signin">
        <img src="/css/style/image/welcome to JORE signin.svg" id="welcome_signin" alt="welcome_signin">



        <form method="post" action="/auth/signup" class="needs-validation" id="formSignUp">

            {{#if message}}
            <div class="alert alert-success mt-2 mx-4">
                {{message}}
            </div>
            {{/if}}

            {{#if messageDanger}}
            <div class="alert alert-danger mt-2 mx-4">
                {{messageDanger}}
            </div>
            {{/if}}

            <div class="alert alert-danger mt-3 mx-4 announcement" style="display:none">
                Đăng nhập sai </div>
            <div class="alert alert-success mt-3 mx-4 announcement-success" style="display:none">
                Mật khẩu hợp lệ ! </div>

            <div id="label_fullname">Họ và tên</div>
            <input type="text" name="name" id="fullname_signin" placeholder="Nhập họ và tên của bạn">
            <img src="/css/style/image/ic_person.svg" id="logo_person" alt="logo_person">

            <div id="label_email_signin">Email</div>
            <input type="email" name="email" id="email_signin" placeholder="Nhập email của bạn">
            <img src="/css/style/image/logo_email.svg" id="logo_email_signin" alt="logo_email_signin">

            <div id="label_password_signin">Mật khẩu</div>
            <input type="password" name="password" id="password_signin" placeholder="Nhập mật khẩu">
            <img src="/css/style/image/logo_password.svg" id="logo_password_signin" alt="logo_password_signin">

            {{!-- <img src="/css/style/image/eye-slash.svg" id="eye_slash_signin" alt="eye_slash_signin"> --}}

            <div id="label_confirm_password_signin">Xác nhận mật khẩu</div>
            <input type="password" name="confirm_password_signin" id="confirm_password_signin"
                placeholder="Nhập lại mật khẩu">
            <img src="/css/style/image/logo_password.svg" id="logo_confirm_password_signin"
                alt="logo_confirm_password_signin">
            {{!-- <img src="/css/style/image/eye-slash.svg" id="eye_slash_confirm_signin"
                alt="eye_slash_confirm_signin"> --}}

            <button type="submit" id="submit_signin">Đăng ký</button>
        </form>

        <div id="text_have_Account">Bạn đã có tài khoản?
            <a id="login_now" href="/auth/login">Đăng nhập ngay</a>
        </div>
    </div>
</div>


<script>

    $("#formSignUp").on('submit', function (e) {

        const email_signin = $('#email_signin');

        const fullname_signin = $('#fullname_signin');

        const confirm_password_signin = $('#confirm_password_signin');
        const password_signin = $('#password_signin');
        if (fullname_signin.val().length == 0) {
            $('.announcement').text("Bạn chưa nhập họ tên!");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();
        }
        else if (email_signin.val().length == 0) {
            $('.announcement').text("Bạn chưa nhập email!");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();
        }
        else if (password_signin.val().length == 0) {
            // password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất 8 ký tự!");
            $('.announcement').text("Bạn chưa nhập mật khẩu!");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();
        }
        else if (password_signin.val().length < 8) {
            // password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất 8 ký tự!");
            $('.announcement').text("Mật khẩu phải có ít nhất 8 ký tự!");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();
        }
        else if (!/\d/.test(password_signin.val())) {
            //password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất một số (1, 2, ...)!");
            $('.announcement').text("Mật khẩu phải có ít nhất một số (1, 2, ...)!");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();

        }
        else if (!/[a-zA-Z]/.test(password_signin.val())) {
            // password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất một ký tự chữ cái (a, b, C, D, ...)!");
            $('.announcement').text("Mật khẩu phải có ít nhất một ký tự chữ cái (a, b, C, D, ...)!");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();

        }
        else if (!/[\W]/.test(password_signin.val())) {
            //password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất một ký tự đặt biệt (@, $, ...)!");
            $('.announcement').text("Mật khẩu phải có ít nhất một ký tự đặt biệt (@, $, ...)!");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();


        }
        else if (confirm_password_signin.val().length == 0) {
            $('.announcement').text("Chưa nhập xác nhận mật khẩu!");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();

        }
        else if (confirm_password_signin.val() != password_signin.val()) {
            // confirm_password_signin.get(0).setCustomValidity("Mật khẩu nhập lại không đúng !");
            $('.announcement').text("Mật khẩu nhập lại không đúng !");
            $('.announcement').show();
            $('.announcement-success').hide();
            e.preventDefault();

        }
        else {
            // password_signin.get(0).setCustomValidity('');
            // confirm_password_signin.get(0).setCustomValidity('');
            $('.announcement').hide();
            $('.announcement-success').show();
        }



    });







    /*
     confirm_password_signin.get(0).setCustomValidity(confirm_password_signin.val() != password_signin.val() ? "Mật khẩu nhập lại không đúng !" : "")
    
    
            if (password_signin.val().length < 8) {
                password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất 8 ký tự!");
                $('.announcement').text("Mật khẩu phải có ít nhất 8 ký tự!");
                $('.announcement').show();
            }
            else if (!/\d/.test(password_signin.val())) {
                password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất một số (1, 2, ...)!");
                $('.announcement').text("Mật khẩu phải có ít nhất một số (1, 2, ...)!");
                $('.announcement').show();
            }
            else if (!/[a-zA-Z]/.test(password_signin.val())) {
                password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất một ký tự chữ cái (a, b, C, D, ...)!");
                $('.announcement').text("Mật khẩu phải có ít nhất một ký tự chữ cái (a, b, C, D, ...)!");
                $('.announcement').show();
            }
            else if (!/[\W]/.test(password_signin.val())) {
                password_signin.get(0).setCustomValidity("Mật khẩu phải có ít nhất một ký tự đặt biệt (@, $, ...)!");
                $('.announcement').text("Mật khẩu phải có ít nhất một ký tự đặt biệt (@, $, ...)!");
                $('.announcement').show();
            }
            else {
                password_signin.get(0).setCustomValidity('');
                $('.announcement').hide()
            }
    
    */

</script>