<div class="rectangle_mid_news_home_recruit">
    {{> menu}}

    <div id="content_news_home_recruit">
        <div id="text_recruitment_efficiency">Tổng số tin đã đăng: 5</div>
        <table id="table_mamage_recruit" style="width: 1333px" rules="rows">

        </table>
        <nav aria-label="Page navigation example" id="nav_page_home_manage_recruit">
            <ul class="pagination" id="pagination_recruitments">

            </ul>
        </nav>
    </div>
</div>

<script>
    $(".menu_item").removeClass("is_selected")
    $("#menu_manage_recruit_home_recruit").addClass("is_selected")
    $(".on_filter").removeClass("on_filter")
    $("#menu_manage_recruit_home_recruit").children("#ic_manage_recruit_home_recruit").addClass("on_filter")

    const list_recruitments = {{{ data.list_recruitments }}}
    const id_recruitments = {{{ data.id_recruitments }}}

    $("#text_recruitment_efficiency").html("Tổng số tin: " + list_recruitments.length)

    for (let i = 0; i < list_recruitments.length; i++) {
        let _date = new Date(list_recruitments[i].due_date._seconds * 1000);
        let due_date = _date.getDate() + "/" + (_date.getMonth() + 1) + "/" + _date.getFullYear()

        _date = new Date(list_recruitments[i].creation_date._seconds * 1000);
        let creation_date = _date.getDate() + "/" + (_date.getMonth() + 1) + "/" + _date.getFullYear()

        let _status = ""
        if (list_recruitments[i].status == "approved") {
            _status = "Đã duyệt"
        }
        else if (list_recruitments[i].status == "locked") {
            _status = "Bị khóa"
        }
        else if (list_recruitments[i].status == "deleted") {
            _status = "Bị xóa"
        }
        else {
            _status = "Chờ duyệt"
        }

        $("#table_mamage_recruit").append(`
            <tr id="${id_recruitments[i]}" class="table_item">
                <td>${i + 1}</td>
                <td>${list_recruitments[i].title}</td>
                <td>${creation_date}</td>
                <td>${due_date}</td>
                <td>${list_recruitments[i].list_cvs.length}</td>
                <td>number reports</td>
                <td>${_status}</td>
            </tr>
        `)
    }

    function viewRecruitment(id) {
        $(location).attr("href", "/employer/detail_recruitment?id=" + id)
    }

    const recruitments_per_page = 8
    let _current_page = 1

    // view pagination
    $("#pagination_recruitments").append(`
        <li class="page-item" id="prev_page">
            <div class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </div>
        </li>
    `)
    const number_of_pages = parseInt(list_recruitments.length / recruitments_per_page) + (list_recruitments.length % recruitments_per_page == 0 ? 0 : 1)
    for (let i = 0; i < number_of_pages; i++) {
        $("#pagination_recruitments").append(`
            <li class="page-item" id="page_${i + 1}"><div class="page-link">${i + 1}</div></li>
        `)
    }
    $("#pagination_recruitments").append(`
        <li class="page-item" id="next_page">
            <div class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </div>
        </li>
    `)
    updateListRecruitments(_current_page)

    // view list products
    function updateListRecruitments(page) {
        $(".page-item").removeClass("active")
        $(`#page_${page}`).addClass("active")
        $("#table_mamage_recruit").empty()
        if (list_recruitments != null) {
            $("#table_mamage_recruit").append(`
                <tr class="title_table_recruit">
                    <th>STT</th>
                    <th>Tên tin tuyển dụng</th>
                    <th>Ngày tạo tin</th>
                    <th>Hạn nộp nồ sơ</th>
                    <th>Lượt nộp</th>
                    <th>Trạng thái tin</th>
                </tr>
            `)
            let _count_page = (page * recruitments_per_page) < list_recruitments.length ? (page * recruitments_per_page) : list_recruitments.length
            for (let i = (page - 1) * recruitments_per_page; i < _count_page; i++) {
                let _date = new Date(list_recruitments[i].due_date._seconds * 1000);
                let due_date = _date.getDate() + "/" + (_date.getMonth() + 1) + "/" + _date.getFullYear()

                _date = new Date(list_recruitments[i].creation_date._seconds * 1000);
                let creation_date = _date.getDate() + "/" + (_date.getMonth() + 1) + "/" + _date.getFullYear()

                let _status = ""
                if (list_recruitments[i].status == "approved") {
                    _status = "Đã duyệt"
                }
                else if (list_recruitments[i].status == "locked") {
                    _status = "Bị khóa"
                }
                else if (list_recruitments[i].status == "deleted") {
                    _status = "Bị xóa"
                }
                else {
                    _status = "Chờ duyệt"
                }
                console.log(list_recruitments[i].list_cvs.length)
                $("#table_mamage_recruit").append(`
                    <tr id="${id_recruitments[i]}" class="table_item" onclick="viewRecruitment('${id_recruitments[i]}')">
                        <td>${i + 1}</td>
                        <td>${list_recruitments[i].title}</td>
                        <td>${creation_date}</td>
                        <td>${due_date}</td>
                        <td>${list_recruitments[i].list_cvs.length}</td>
                        <td>${_status}</td>
                    </tr>
                `)
            }
        }
    }

    // function for pagination
    $(".page-item").click(function () {
        if ($(this).attr("id") == "prev_page" && _current_page > 1) {
            _current_page -= 1
        }
        else if ($(this).attr("id") == "next_page" && _current_page < number_of_pages) {
            _current_page += 1
        }
        else {
            _current_page = parseInt($(this).attr("id").slice(5))
        }
        updateListRecruitments(_current_page)
    })

</script>